doctype html
html
    head
        title Login
        link(rel='stylesheet', href='/css/login_formCSS.css')
    body
        form(method='post' action='/login')
            P
                lable ID
                input(type="text" name="uid")
            P
                lable PW
                input(type="text" name="upw")
            P
                button(type="submit") Login