doctype html
html 
    head 
        meta(charset='utf8')
    body 
        form(method='post' action='/')
            P
                label ID
                input(type="text") 
            P
                label PW
                input(type="password")     
            P
                label NAME
                input(type="text") 
            P
                label AGE
                input(type="text") 
            input(type="submit", value="REGISTER")