doctype html
html 
    head    
        meta(charset='utf8')
    body 
        form(action='/cookie' method='post')
            label 아이디
            input(type='text' name='uid')
            input(type="submit" value="submit")